body {
  border-style: none;
  font-family: sans-serif;
  margin: 0;
  text-align: center;
}

h1 {
  margin-top: 0;
}

.top {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px
}

.middle {
  background-color: red;
  height: 200px;
  width: 200px;
}

.bottom {
  background-color: blue;
  height: 200px;
  width: 200px;
}

.cursive {
  font-style: italic;
}

.top-cloud {
  position: absolute;  
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px
}
